.group{
  margin-bottom: 12px;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.label textarea {
  resize: none;
  height: 120px;
}

.label input, .label textarea {
  font-size: 0.9rem;
  padding: 12px 24px;
  border-radius: 6px;
  transition: all .150s ease-in-out;
  border: 2px var(--tertiary-color) solid;
}

.label input:placeholder-shown, .label textarea:placeholder-shown {
  border: 2px var(--border-color) solid;
}

.label input:placeholder-shown:not(:focus):hover, .label textarea:placeholder-shown:not(:focus):hover {
  border: 2px rgba(177, 177, 177, 0.7) solid;
  background-color: rgba(177, 177, 177, 0.08);
}

.label input:active, .label input:focus, .label textarea:active, .label textarea:focus {
  outline: none;
  border: 2px var(--tertiary-color) solid;
  background-color: rgba(177, 177, 177, 0.08);
  box-shadow: #51459f7a 0px 3px 8px;
}

.label input:invalid {
  border: 2px var(--danger-color) solid;
}

.error {
  margin-top: 2px;
  font-size: 0.80rem;
  color: var(--danger-color) ;
}