.link {
  display: flex;
  align-items: center;
  gap: 24px;
  color: var(--mid-text-color);
  text-decoration: none;
  transition: all .150s ease-in-out;
}

.link:hover {
  color: var(--dark-text-color);
}