.nav {
  display: flex;
  justify-content: center;
  padding-bottom: 24px;
  margin-bottom: 24px;
  gap: 18px;
  border-bottom: 2px var(--border-color) solid;
}

.ui {
  display: flex;
  align-items: center;
  gap: 8px;
}

.ui_btn {
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: var(--mid-text-color);
  box-shadow: var(--box-shadow-md);
  border-radius: var(--border-radius);
}

.user {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 12px;
}

.profile {
  width: 42px;
  height: 42px;
  border-radius: 25%;
}

.name {
  color: var(--dark-text-color);
  font-weight: 600;
  font-size: 0.95rem;
}

@media screen and (min-width: 769px) {
  .nav  {
    justify-content: flex-end;
  }
  
}