.heading {
  color: var(--dark-text-color);
  margin-bottom: 36px;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.loading {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_ui {
  display: flex;
  gap: 12px;
}

.error {
  color: var(--danger-color);
}