.main {
  position: relative;
  background-color: var(--app-inner-bg-color);
  border-radius: 16px;
  margin: 48px 0;
  height: 100%;
  width: 100%;
  display: flex;
}

.aside {
  padding: 24px 48px;
  border-right: 2px var(--border-color) solid;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.content {
  padding: 24px 48px;
  width: 100%;
}