.home {
  flex: 1;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard_top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
}