.wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}


.loading {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading, .wrapper h3 {
  color: var(--dark-text-color);
}

.list_item {
  display: flex;
}

.user_info {
  display: flex;
  gap: 86px;
  color: var(--light-text-color);
  padding-bottom: 24px;
  border-bottom: 2px var(--border-color) solid;
}

.name {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.name span {
  color: var(--mid-text-color);
  font-size: 1.05rem;
}

.address_item {
  display: flex;
  gap: 8px;
}

.address_item:first-of-type {
  margin-top: 8px;
}

.table {
  overflow-x: hidden;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

.th {
  text-transform: uppercase;
  font-size: 0.8rem;
  text-align: left;
  padding: 12px;
  background-color: var(--border-color);
  border: 2px var(--border-color) solid;
}

.td {
  text-align: left;
  padding: 18px;
  border-bottom: 2px var(--border-color) solid;
  font-size: 0.9rem;
}

.id {
  overflow: hidden;
  text-overflow: ellipsis;
}

.id a {
  font-weight: 600;
  color: var(--light-text-color);
}

.date {
  color: var(--light-text-color);
  font-weight: 300;
}

.status {
  font-weight: 700;
  text-transform: capitalize;
}

.value {
  color: var(--dark-text-color);
  font-weight: 700;
}
.total_table {
  font-size: 0.9rem;
  font-weight: 700;
  color: var(--dark-text-color);
}

.total {
  padding: 24px 0 48px 0;
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--dark-text-color);
  display: flex;
  justify-content: space-between;
}

.status {
  padding: 24px 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-bottom: 2px var(--border-color) solid;
}


@media screen and (max-width: 600px) {
  .table {
    border: 0;
  }
  
  .thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  .tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  .td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  .td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--mid-text-color);
  }
  
  .td:last-child {
    border-bottom: 0;
  }
}

