:root {
  --app-bg-color: #E1E4EC;
  --app-inner-bg-color: #FFFFFF;
  --primary-color: #FB896B;
  --primary-color-hover: #E07A60;
  --primary-color-active: #BA6550;
  --secondary-color: #18DDBD;
  --tertiary-color: #51459F;
  --logo-text-color: #3b4566;
  --light-text-color: #7A7A7A;
  --dark-text-color: #000000;
  --border-color: #F4F4F6;
  --page-max-width: 1920px;
  --inner-max-width: 1344px;
  --box-shadow-sm: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  --box-shadow-md: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  --page-edge: calc((100vw - var(--page-max-width)) / 2);
  --main-font: 'Lato', sans-serif;
  --heading-font: 'Arvo', serif;
}

html {
  height: 100%;
}

body {
  position: relative;
  background-color: var(--app-bg-color);
  min-height: 100vh;
  height: 100%;
  font-family: var(--main-font);
  color: var(--light-text-color);
  font-size: 16px;
}

body::before {
  content: '';
  position: absolute;
  opacity: 0.2;
  filter: blur(6px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translateZ(0px);
  width: 100%;
  height: 100vh;
  background: radial-gradient(
    500px circle at 90% 10%,
    var(--primary-color),
    70%,
    transparent
  ), 
  radial-gradient(
    500px circle at 10% 90%,
    var(--secondary-color),
    70%,
    transparent
  )
}

.btn-primary {
  border: none;
  cursor: pointer;
  padding: 12px 24px;
  border-radius: 6px;
  background-color: var(--primary-color);
  font-size: 0.85rem;
  font-weight: 600;
  transition: all .150s ease-in-out;
}

.btn-primary:hover {
  background-color: var(--primary-color-hover);
}

.btn-primary:active {
  background-color: var(--primary-color-active);
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  max-width: var(--inner-max-width);
  margin: 0 auto;
}