:root {
  --app-bg-color: #E1E4EC;
  --app-inner-bg-color: #FFFFFF;
  --primary-color: #18DDBD;
  --secondary-color: #FB896B;
  --tertiary-color: #51459F;
  --logo-text-color: #3b4566;
  --light-text-color: #7A7A7A;
  --page-max-width: 1920px;
  --inner-max-width: 1344px;
  --box-shadow-md: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  --page-edge: calc((100vw - var(--page-max-width)) / 2);
  --main-font: 'Lato', sans-serif;
  --heading-font: 'Arvo', serif;
}

html {
  height: 100%;
}

body {
  position: relative;
  background-color: var(--app-bg-color);
  min-height: 100vh;
  height: 100%;
  font-family: var(--main-font);
  font-size: 16px;
}

body::before {
  content: '';
  position: absolute;
  opacity: 0.2;
  filter: blur(6px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translateZ(0px);
  width: 100%;
  height: 100vh;
  background: radial-gradient(
    500px circle at 90% 10%,
    var(--primary-color),
    70%,
    transparent
  ), 
  radial-gradient(
    500px circle at 10% 90%,
    var(--secondary-color),
    70%,
    transparent
  )
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  max-width: var(--inner-max-width);
  margin: 0 auto;
}